{% extends 'TemasTemasBundle::admin.html.twig' %}

{% block article %}
    <h1>{{ 'Languages'|trans }} {{ 'list'|trans }}</h1>
    <hr>
    <a href="{{ path('admin_languages_new') }}" class="btn btn-success btn-sm">
        {{ 'Create'|trans }}
    </a>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>#</th>
                <th>{{ 'Code'|trans }}</th>
                <th>{{ 'Language'|trans }}</th>
                <th>{{ 'Status'|trans }}</th>
                <th>{{ 'Actions'|trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('admin_languages_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.code }}</td>
                <td>{{ entity.language }}</td>
                <td>
                    {% if entity.isActive == true %}
                        <i  title="Activo" class="fa fa-check-circle fa-2x" aria-hidden="true"></i>
                    {% else %}
                        <span>{{ 'Inactivo'|trans }}</span>
                    {% endif %}
                </td>
                <td>
                    <a href="{{ path('admin_languages_show', { 'id': entity.id }) }}"  class="btn btn-success btn-sx">{{ 'Ver'|trans }}</a>
                    <a href="{{ path('admin_languages_edit', { 'id': entity.id }) }}"  class="btn btn-info btn-sx">{{ 'Editar'|trans }}</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
