{% extends 'CmsBundle::layout_admin.html.twig' %}

{% block body %}
    {% embed 'templates/admin/ppal_title.html.twig' %}
        {% block titleBasic %}{{ 'Languages'|trans }} {{ 'creation'|trans }}{% endblock %}
        {% block subtitleBasic %}{{ "Configure your articles"|trans }}{% endblock %}
    {% endembed %}
    <a href="{{ path('admin_languages') }}" class="btn btn-info">
        {{ 'Volver'|trans }}
    </a>
    {% embed 'templates/admin/panel.html.twig' %}
        {% block colPanel %}col-sm-9{% endblock %}
        {% block titlePanel %}  {{ 'Languages'|trans }} {{ 'list'|trans }}{% endblock %}
        {% block bodyPanel %}
            {{ form(form) }}
        {% endblock %}
    {% endembed %}


{% endblock %}
