{% extends 'TemasTemasBundle::admin.html.twig' %}

{% block article %}
    <h1>{{ 'languages'|trans }}</h1>

    <table class="table table-striped table-bordered">
        <tbody>
            <tr>
                <th>#</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>{{ 'Code'|trans }}</th>
                <td>{{ entity.code }}</td>
            </tr>
            <tr>
                <th>{{ 'Language'|trans }}</th>
                <td>{{ entity.language }}</td>
            </tr>
            <tr>
                <th>{{ 'Status'|trans }}</th>
                <td>{% if entity.isActive == true %}
                        <i  title="Activo" class="fa fa-check-circle fa-2x" aria-hidden="true"></i>
                    {% else %}
                        <span>{{ 'Inactivo'|trans }}</span>
                    {% endif %}</td>
            </tr>
            <tr>
                <th>{{ 'Created at'|trans }}</th>
                <td>{{ entity.createAt|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>{{ 'Modified at'|trans }}</th>
                <td>{{ entity.modifiedAt|date('Y-m-d H:i:s') }}</td>
            </tr>
        </tbody>
    </table>


        <a href="{{ path('admin_languages') }}" class="btn btn-info">
            {{ 'Volver'|trans }}
        </a>
        <a href="{{ path('admin_languages_edit', { 'id': entity.id }) }}" class="btn btn-success">
            {{ 'Editar'|trans }}
        </a>


{% endblock %}
