{% extends 'CmsBundle::layout.html.twig' %}
{% block banner %}

{% endblock %}
{% block body %}

    <div class="section" style="margin-top: 100px; word-break: break-word;">
        <div class="container">
            {% if article != null %}
            <div class="row">
                <div class="col-md-4">
                    {% if article.article.path != null and article.article.path != "" %}
                        <img src="{{ asset(article.article.getWebPath) }}" class="img-responsive"/>
                    {% else %}
                        <img src="http://pingendo.github.io/pingendo-bootstrap/assets/placeholder.png">
                    {% endif %}
                </div>
                <div class="col-md-8">
                    <h1>{{ article.title|title }}</h1>
                    <h4>{{ 'Category'|trans }}
                        : {% for category in article.article.category %} {{ category }}, {% endfor %}</h4>
                    <p><span class="text-muted">{{ article.modifiedAt|date('d, M-Y') }} </span></p>
                    <p>{{ article.content|raw }}</p>

                    {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('admin_article-trans_edit', { 'id': article.id }) }}" class="btn btn-warning"><i
                                    class="fa fa-edit"></i> {{ 'Editar'|trans }}</a>
                        <br>
                    {% endif %}

                </div>
            </div>
            {% endif %}
        </div>
    </div>
{% endblock %}