{% extends 'CmsBundle::layout_admin.html.twig' %}

{% block body %}
    <div class="row">
        {% embed 'templates/admin/ppal_title.html.twig' %}
            {% block titleBasic %}{{ 'Article'|trans }} {{ 'edit'|trans }}{% endblock %}
            {% block subtitleBasic %}{{ "Configure your articles"|trans }}{% endblock %}
        {% endembed %}
        <p></p>
        {% embed 'templates/admin/panel.html.twig' %}
            {% block colPanel %}col-sm-9{% endblock %}
            {% block titlePanel %}{{ 'Article'|trans }}{% endblock %}
            {% block bodyPanel %}
                {{ tinymce_init() }}
                {{ form_start(edit_form) }}
                {{ form_widget(edit_form) }}

                <div class="top">
                    <input class="btn btn-primary btn-sm" type="submit" value="{{ 'Editar '|trans }}"/>
                    <a href="{{ path('admin_article_show', {'id': entity.id }) }}"
                       class="btn btn-success btn-sm">{{ 'Volver '|trans }}</a>
                </div>
                <br>
                {{ form_end(edit_form) }}

                {{ form_start(delete_form) }}
                {{ form_widget(delete_form) }}
                <div class="top">
                    <input class="btn btn-danger btn-sm" type="submit" value="{{ 'Eliminar '|trans }}"/>
                </div>
                {{ form_end(delete_form) }}

            {% endblock %}
        {% endembed %}

        {% embed 'templates/admin/panel.html.twig' %}
            {% block colPanel %}col-sm-3{% endblock %}
            {% block titlePanel %}{{ 'Image'|trans }}{% endblock %}
            {% block bodyPanel %}
                {% if entity.path != null and entity.path != "" %}
                    <img src="{{ asset(entity.getWebPath) }}" width="100%"/>
                {% endif %}
            {% endblock %}
        {% endembed %}
    </div>
{% endblock %}
