{% extends 'CmsBundle::layout.html.twig' %}

{% block body %}
    <h1>{{ 'Category'|trans }}</h1>

    <table class="table table-bordered">
        <tbody>
            <tr>
                <th>#</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>{{ 'Name'|trans }}</th>
                <td>{{ entity.name }}</td>
            </tr>
            <tr>
                <th>{{ 'Description'|trans }}</th>
                <td>{{ entity.description }}</td>
            </tr>
            <tr>
                <th>{{ 'Status'|trans }}</th>
                <td>{% if entity.isActive == true %}
                        <i  title="Activo" class="fa fa-check-circle fa-2x" aria-hidden="true"></i>
                    {% else %}
                        <span>{{ 'Inactivo'|trans }}</span>
                    {% endif %}</td>
            </tr>
            <tr>
                <th>{{ 'Created at'|trans }}</th>
                <td>{{ entity.createAt|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>{{ 'Modified at'|trans }}</th>
                <td>{{ entity.modifiedAt|date('Y-m-d H:i:s') }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('admin_article-category') }}" class="btn btn-info">
        {{ 'Volver'|trans }}
    </a>
    <a href="{{ path('admin_article-category_edit', { 'id': entity.id }) }}" class="btn btn-success">
        {{ 'Editar'|trans }}
    </a>
{% endblock %}
