{% extends 'CmsBundle::layout_admin.html.twig' %}

{% block body %}
    {% embed 'templates/admin/ppal_title.html.twig' %}
        {% block titleBasic %}{{ 'Add images Banner'|trans }}{% endblock %}
        {% block subtitleBasic %}{{ "Images of banner"|trans }}{% endblock %}
    {% endembed %}
    {% embed 'templates/admin/panel.html.twig' %}
        {% block colPanel %}col-sm-9{% endblock %}
        {% block titlePanel %}{% endblock %}
        {% block bodyPanel %}
            {{ form(form) }}

            <a href="#" id="volver" class="btn btn-success btn-sx">{{ 'Volver'|trans }}</a>

        {% endblock %}
    {% endembed %}

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            var idBanner = getParameterByName('id');
            var rutaVolver = "{{ path('admin_banner_show', { 'id': 'IDBANNER' }) }}";
            rutaVolver = rutaVolver.replace("IDBANNER",idBanner);

            if(idBanner != null){
                $("#appbundle_bannerimages_banner").val(idBanner);
            }

            $("#volver").click(function(){
                location.href = rutaVolver;
            })
        })



        function getParameterByName(name, url) {
            if (!url) {
                url = window.location.href;
            }
            name = name.replace(/[\[\]]/g, "\\$&");
            var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
                    results = regex.exec(url);
            if (!results) return null;
            if (!results[2]) return '';
            return decodeURIComponent(results[2].replace(/\+/g, " "));
        }


    </script>
{% endblock %}
