{% extends 'TemasTemasBundle::admin.html.twig' %}

{% block article %}

    <h1>{{ 'Menu'|trans }} {{ 'edit'|trans }}</h1>

    {{ form_start(edit_form) }}
    {{ form_widget(edit_form) }}

    <div class="top">
        <input class="btn btn-primary btn-sm" type="submit" value="{{ 'Editar '|trans }}" />
        <a href="{{ path('admin_menu') }}" class="btn btn-success btn-sm">{{ 'Volver '|trans }}</a>
    </div>
    <br>
    {{ form_end(edit_form) }}

    {{ form_start(delete_form) }}
    {{ form_widget(delete_form) }}
    <div class="top">
        <input class="btn btn-danger btn-sm" type="submit" value="{{ 'Eliminar '|trans }}" />
    </div>
    {{ form_end(delete_form) }}
{% endblock %}
