{% extends 'CmsBundle::layout_admin.html.twig' %}

{% block body %}
    {% embed 'templates/admin/ppal_title.html.twig' %}
        {% block titleBasic %}{{ 'Create'|trans }} {{ 'menu'|trans }}{% endblock %}
        {% block subtitleBasic %}{{ "Configure your menus"|trans }}{% endblock %}
    {% endembed %}
    {% embed 'templates/admin/panel.html.twig' %}
        {% block colPanel %}col-sm-9{% endblock %}
        {% block titlePanel %}  {{ 'Menu'|trans }} {{ 'list'|trans }}{% endblock %}
        {% block bodyPanel %}
            {{ form(form) }}
            <a href="{{ path('admin_menu') }}" class="btn btn-info">
                {{ 'Volver'|trans }}
            </a>
        {% endblock %}
    {% endembed %}

{% endblock %}
