{% extends 'CmsBundle::layout_admin.html.twig' %}

{% block body %}
    {% embed 'templates/admin/ppal_title.html.twig' %}
        {% block titleBasic %}{{ 'Menu'|trans }}{% endblock %}
        {% block subtitleBasic %}{{ "Configure your menu"|trans }}{% endblock %}
    {% endembed %}
    {% embed 'templates/admin/panel.html.twig' %}
        {% block colPanel %}col-sm-9{% endblock %}
        {% block titlePanel %}  {{ 'Menu'|trans }}{% endblock %}
        {% block bodyPanel %}
            <table class="table table-bordered">
                <tbody>
                <tr>
                    <th>#</th>
                    <td>{{ entity.id }}</td>
                </tr>
                <tr>
                    <th>{{ 'Name'|trans }}</th>
                    <td>{{ entity.name }}</td>
                </tr>
                <tr>
                    <th>{{ 'Position'|trans }}</th>
                    <td>{{ entity.position }}</td>
                </tr>
                <tr>
                    <th>{{ 'Article'|trans }}</th>
                    <td>
                        {% if entity.article != null %}
                            <a href="{{ path('admin_article_show', { 'id': entity.article.id }) }}">{{ entity.article }}</a>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>{{ 'Status'|trans }}</th>
                    <td>
                        {% if entity.isActive == true %}
                            <i title="Activo" class="fa fa-check-circle fa-2x" aria-hidden="true"></i>
                        {% else %}
                            <span>{{ 'Inactivo'|trans }}</span>
                        {% endif %}
                    </td>
                </tr>
                </tbody>
            </table>

            <a href="{{ path('admin_menu') }}" class="btn btn-info">
                {{ 'Volver'|trans }}
            </a>
            <a href="{{ path('admin_menu_edit', { 'id': entity.id }) }}" class="btn btn-success">
                {{ 'Editar'|trans }}
            </a>
        {% endblock %}
    {% endembed %}

    {% embed 'templates/admin/panel.html.twig' %}
        {% block colPanel %}col-sm-9{% endblock %}
        {% block titlePanel %}  {{ 'Sub Menu'|trans }}{% endblock %}
        {% block bodyPanel %}
            <a href="{{ path('submenu_new') }}" class="btn btn-info">
                {{ 'Create'|trans }}
            </a>
            <hr>
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>#</th>
                    <th>{{ 'Name'|trans }}</th>
                    <th>{{ 'Link'|trans }}</th>
                    <th>{{ 'Status'|trans }}</th>
                    <th>{{ 'Actions'|trans }}</th>
                </tr>
                </thead>
                <tbody>
                    {% for menu in entity.menus %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ menu.name }}</td>
                        <td>{% if menu.isActive == true %}
                                <i  title="Activo" class="fa fa-check-circle fa-2x" aria-hidden="true"></i>
                            {% else %}
                                <span>{{ 'Inactivo'|trans }}</span>
                            {% endif %}</td>
                        <td>
                            {% if menu.article != null %}
                                <a href="{{ path('admin_article_show', { 'id': menu.article.id }) }}">{{ menu.article }}</a>
                            {% endif %}
                        </td>
                        <td>
                            <a href="{{ path('submenu_edit', { 'id': menu.id }) }}"  class="btn btn-success btn-sx">{{ 'Editar'|trans }}</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endblock %}
    {% endembed %}
{% endblock %}
