{% extends 'CmsBundle::layout_admin.html.twig' %}

{% block body %}
    {% embed 'templates/admin/ppal_title.html.twig' %}
        {% block titleBasic %}{{ 'Menu'|trans }}{% endblock %}
        {% block subtitleBasic %}{{ "Configure your menu"|trans }}{% endblock %}
    {% endembed %}
    {% embed 'templates/admin/panel.html.twig' %}
        {% block colPanel %}col-sm-9{% endblock %}
        {% block titlePanel %}  {{ 'Languages'|trans }} {{ 'list'|trans }}{% endblock %}
        {% block bodyPanel %}
            <table class="table table-bordered">
                <tbody>
                <tr>
                    <th>#</th>
                    <td>{{ entity.id }}</td>
                </tr>
                <tr>
                    <th>{{ 'Name'|trans }}</th>
                    <td>{{ entity.name }}</td>
                </tr>
                <tr>
                    <th>{{ 'Position'|trans }}</th>
                    <td>{{ entity.position }}</td>
                </tr>
                <tr>
                    <th>{{ 'Article'|trans }}</th>
                    <td>
                        {% if entity.article != null %}
                            <a href="{{ path('admin_article_show', { 'id': entity.article.id }) }}">{{ entity.article }}</a>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>{{ 'Status'|trans }}</th>
                    <td>
                        {% if entity.isActive == true %}
                            <i title="Activo" class="fa fa-check-circle fa-2x" aria-hidden="true"></i>
                        {% else %}
                            <span>{{ 'Inactivo'|trans }}</span>
                        {% endif %}
                    </td>
                </tr>
                </tbody>
            </table>

            <a href="{{ path('admin_menu') }}" class="btn btn-info">
                {{ 'Volver'|trans }}
            </a>
            <a href="{{ path('admin_menu_edit', { 'id': entity.id }) }}" class="btn btn-success">
                {{ 'Editar'|trans }}
            </a>
        {% endblock %}
    {% endembed %}
{% endblock %}
